/* abra o hmtl em um navegador, clique em inspecionar página, 
terá um desenho que mostra os nomes das margens do site */
/* seletor mais genérico, fica na linha 1 */
/* soft reset do css */
* {
  /* ignorar qualquer margem */
  margin: 0;
  /* espaçamento interno, entre a borda e o conteúdo de dentro da caixa */
  padding: 0;
  /* começa a contar o tamanho do elemento a partir da borda interna da caixa */
  box-sizing: border-box;
}

body {
  /* nome de cor ou código em hexadecimal */
  /* background: #4499ff; */
  background-color: white;
  /* colocar imagem da internet de fundo */
  /* background-image: url('https://s3.cointelegraph.com/storage/uploads/view/bad02e8b57a64d349aa5eec318298b4b.png'); */
  /* imagem de dentro da pasta img */
  /* background-image: url('../img/black-1072366.jpg'); */
  /* largura automática e 100% do tamanho total da tela */
  /* background-size: auto 100vh; */
  /*  fonte do texto  */
  /* font-family: Arial; */
  font-family: 'Source Code Pro', monospace;
  /* altura da página */
  height: 100vh;
  /* background-repeat: no-repeat; */
  background-repeat: round;
  background-size: cover;
}

/* breakpoint */
/* condição do meu if; condição do navegador que a tela será aberta */
/* selecionar o estilo da página de acordo com faixas de tamanhos de tela */
/* se minha tela tiver no mínimo 400 pixels, vai carregar estes estilos */
@media (min-width: 400px) {
  /* o que quero modificar */
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  /* o que quero modificar */
  body {
    font-size: 16px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  /* o que quero modificar */
  body {
    font-size: 18px;
  }
}

header {
  /* 100% do view cort */
  height: 100vh;
  /* flex faz todo mundo virar coluna */
  /* header virou um flex container */
  display: flex;
  /* centralizar o header */
  justify-content: center;
  align-items: center;
}

/* chamar um elemento que tem uma classe */
.menu {
  background-color: rgb(225, 231, 238);
  /* mexe no eixo z da tela, posição onde as coisas podem
   ficar à frente das outras */
  position: fixed;
  /* vw = view port width */
  width: 100vw;
  /* colar o menu na parte superior da página */
  /* distância 0 do topo da página */
  top: 0;
}

/* elemento inline, não quebra linha */
/* configurar os botões do menu */
.menu a {
  /* "a" -> elementos inline não conseguem receber o padding, 
  por isso temos de transformá-lo em bloco */
  display: block;
  /* afastar o conteúdo de texto das bordas */
  padding: 10px 20px;
}

/* todas as li's da classe menu, receberão esse estilo */
/* tira os pontinhos do menu */
.menu li {
  list-style: none;
}

/* flex -> força virar coluna */
/* justify-content ajusta o espaçamento entre os itens */
/* justify-content só funciona em conjunto com outra propriedade */
.menu ul{
  display: flex;
  justify-content: space-around;
}

/* mudar todo o comportamento da tag "a" no código */
/* "a" é link */
/* passar o mouse em cima do link, vai ficar em negrito */
a {
  color: teal;
  /* tirar underline */
  text-decoration: none;
}

/* anotação especial da pseudo classe */
/* quando o mouse passar em cima, aparecer underline */
a:hover {
  text-decoration: underline;
}

/* os seletores pegam as mesmas propriedades, dessa forma */
.site-subtitle,
.site-title {
  color: black;
  text-align: center;
}

.site-title {
  /* 4 vezes o tamanho da fonte */
  /* unidade relativa de tamanho, seguindo como referência o tamanho da tela */
  font-size: 4em;
  /* fonte do texto */
  font-family: 'Indie Flower', cursive;
}

.site-subtitle {
  font-style: italic;
  line-height: 1.8em;
}

.portfolio {
  padding: 2em;
  height: 100vh;
}

.portfolio h2 {
  font-family: 'Press Start 2P', cursive;
  color: black;
  margin-bottom: 1.5em;
  font-size: 2em;
  text-align: center;
}

/* selecionar todos os elementos com a classe grid que estão dentro do 
elemento portfólio */
.portfolio .grid {
  display: grid;
  /* propriedades específicas do grid */
  /* espaçamento entre cada coluna ou linha do grid */
  gap: 2em;
  color: black;
}

@media (min-width: 560px) {
  .portfolio .grid {
    /* quantas colunas eu quero, e controlar a largura de cada coluna */
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    /* 1° parâmetro: número de repetições 
    2° parâmetro: tamanho da coluna em pixels */
    grid-template-columns: repeat(3, 260);
    align-content: center;
    justify-content: center;
    /* cálculo para o cess exibir da forma correta */
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  max-width: 180px;
  max-height: 180px;
  height: auto;
  width: auto;
  /* height: 180px; */
  /* width: 240px; */
  /* object-fit: cover; */
  /* object-position: left bottom; */
  /* arredondar a borda */
  border-radius: 10%;
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}
